*.ipr
run/
*.iws
out/
*.iml
.gradle/
output/
bin/
libs/

.classpath
.project
.idea/
classes/
.metadata
.vscode
.settings
*.launch
/unique_lines.txt

/common/build/
/fabric/build/
/neoforge/build/
/forge/build/
/build/
/research/wiki-audit.md
/resourcepacks/NOTES.md
/logs/
/neoforge/mods/
/research/wiki-style-guide.md
/resourcepacks/config_test/
/common/mods/
/resourcepacks/shadowmap_debug/
/resourcepacks/smooth_shadows/assets/smooth_shadows/polytone/config_entries/moon_intensity.json
/resourcepacks/smooth_shadows/

/research/
/wiki/
/tmp_delete/
/resourcepacks/builds/
