build/
*.ipr
run/
*.iws
out/
*.iml
.gradle/
output/
bin/
libs/

.classpath
.project
.idea/
classes/
.metadata
.vscode
.settings
*.launch
/unique_lines.txt
# Ignore all hidden (dot) files and directories
.*
!.gitignore
CLAUDE.md
/resourcepacks/config_test/assets/config_test/polytone/config_entries/a_enabled.json
/resourcepacks/config_test/assets/config_test/polytone/config_entries/b_quality.json
/resourcepacks/config_test/assets/config_test/polytone/config_entries/c_mode.json
/resourcepacks/config_test/assets/config_test/polytone/config_entries/d_scale.json
/resourcepacks/config_test/assets/config_test/lang/en_us.json
/neoforge/mods/fabric-api-base-0.4.42.jar
/neoforge/mods/fabric-block-view-api-v2-1.0.10.jar
/neoforge/mods/fabric-renderer-api-v1-3.4.1.jar
/neoforge/mods/fabric-rendering-data-attachment-v1-0.3.48.jar
/resourcepacks/config_test/pack.mcmeta
/common/mods/sodium-neoforge-mod-0.8.12.jar
/neoforge/mods/sodium-neoforge-mod-0.8.12.jar
/resourcepacks/builds/sunbathing-v1.5.zip
/common/mods/net.caffeinemc.sodium-neoforge-0.8.13+mc1.21.11-mod.jar
/resourcepacks/shadowmap_debug/pack.mcmeta
/resourcepacks/shadowmap_debug/assets/shadowdbg/polytone/shadow_map.json
/resourcepacks/shadowmap_debug/assets/shadowdbg/shaders/post/shadows.fsh
/resourcepacks/shadowmap_debug/assets/shadowdbg/polytone/post_shaders/shadows.json
/resourcepacks/shadowmap_debug/assets/shadowdbg/post_effect/shadows.json
/resourcepacks/builds/sunbathing-v1.8.zip
/resourcepacks/builds/sunbathing-v1.9.zip
