build/
*.ipr
run/
*.iws
out/
*.iml
.gradle/
output/
bin/
libs/

.classpath
.project
.idea/
classes/
.metadata
.vscode
.settings
*.launch
/unique_lines.txt
/.junie/
/.codex
/.aiassistant/
/.ai/
/.claude/
/.cursor/
/CLAUDE.md
/GEMINI.md
/AGENTS.md
/neoforge/mods/fabric-api-base-0.4.42.jar
/neoforge/mods/fabric-block-view-api-v2-1.0.10.jar
/neoforge/mods/fabric-renderer-api-v1-3.4.1.jar
/neoforge/mods/fabric-rendering-data-attachment-v1-0.3.48.jar
/common/mods/sodium-neoforge-mod-0.8.12.jar
/neoforge/mods/sodium-neoforge-mod-0.8.12.jar
/resourcepacks/builds/sunbathing-v1.5.zip
